@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@200&family=Roboto:wght@700&display=swap");

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #fff;
	font-size: 16px;
    line-height: 1.2;
}

*, 
*:before,
*:after {
    box-sizing: border-box;
}
a {
	color: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
/* <----CONTAINER---->*/
.container {
	width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

/* <----HEADER---->*/
.header {
    position:absolute;
    width: 100%;
    /*max-width: 1800px;*/
    margin: 0 auto;  
	z-index: 1000;
}
.header__logo {
    padding-top: 32px;
    padding-bottom: 28px;
}
.header__line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #29292b;
}
/* <----NAV---->*/
.nav {
    display: flex;
    font-size: 15.96px;
   /*overflow: hidden;*/
}
.nav__link {
    margin-left: 70px;
    color: #fff;
}
.nav__link:first-child {
    margin-left: 0;
}
.nav a {
    padding-top: 40px;
    padding-bottom: 38px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.nav a:hover {
    border-bottom: 1px solid #fff;
}
/* <----INTRO---->*/
.intro {
	position: relative;
   width: 100%;
   height: 100vh;
    background: url("../images/header/Header.png")0 0/100% 100% no-repeat;
   /* background: url(/images/header/Header\ BG.png) center no-repeat;*/
   overflow: hidden;

}
.header__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 
	text-align: center;
	color: #fff;
 }
 .intro__title {
	font-family: 'Roboto', sans-serif;
	font-size: 72px;
	font-weight: bold;
 
	text-transform: uppercase;
 
	margin-bottom: 33px;
 }
 .intro__subtitle {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 32px;
 
	line-height: 1.3;
 }

/* <----DIAGONAL BUTTONS---->*/
.content {
	flex: 1 1 auto;
 }
.diagonal_btns_block {
	position: absolute;
	bottom: 0;
	left: -50px;
 
	width: calc(100% + 100px);
	height: 120px;
 
	display: flex;
 
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;

 
	background-color: #21424a;
	color: #fff;
 }
 .diagonal_btns_block a {
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-decoration: none;
	font-weight: normal;
	width: 100%;
	height: 100%;
	
	transform: skewX(-10deg); 
 }
 .diagonal_btns_block a:hover {
	background-color: #39d082ee;
 }

 /* <----DOMAIN---->*/

 .member {
	position: absolute;
	bottom: 0;
	left: -50px;
	z-index: 3;
 
	width: calc(100% + 100px);
	height: 120px;
 
	display: flex;
 
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
 
	background-color: #21424a;
	color: #FFFFFF;
 }
 
 .member a {
	display: flex;
	justify-content: center;
	align-items: center;
 
	width: 100%;
	height: 100%;
	
	transform: skewX(-10deg); 
 }
 .member a:hover {
	background-color: #39d082ee;
 }
 
 .domain__body {
	padding: 85px 0 95px;
	text-align: center;
 }
 
 .domain__title {
	text-align: center;
	width: 100%;
 
	font-size: 24px;
	font-weight: 600;
 
	color: #000000;
 
	margin-bottom: 30px;
 }
 
 .domain__subtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 200;
 	color: #c7c7c7;
	margin-bottom: 50px;
 }
 
 .form {
	display: flex;
	justify-content: space-between;
	align-items: center;
 
	width: 100%;
	height: 50px;
 
	border: 1px solid #D9D9D9;
 
	padding: 5px 0;
	margin-bottom: 45px;
 }
 
 .form input {
	display: flex;
	align-items: center;
 
	position: relative;
 
	width: 100%;
	height: 100%;
 
	padding: 0 15px;
 
	border: 2px solid #D9D9D9;
	border-top-color: transparent;
	border-bottom-color: transparent;
 
	font-weight: 700;
 }
 
 .form span,
 .form select {
	display: block;
	
	width: 70px;
	margin: 0 15px;
 
	text-align: center;
 
	color: #D9D9D9;
 }
 
 .table {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
 
	padding: 10px;
	border: 1px solid #D9D9D9;
	width: 100%;
	height: 195px;
 }
 
 .table__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
 
	width: 100%;
	height: 100%;
 }
 .table__row div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
 
	width: 100%;
	height: 100%;
 
	color: #D9D9D9;
	transition: color 0.3s linear;
 }
 .table__row div:hover {
	color: #000000;
 }
 
 .table__row div::before,
 .table__row div::after {
	content: "";
 
	display: block;
	position: absolute;
	z-index: 2;
 
	background-color: #D9D9D9;
 }
 .table__row div::before {
	top: 0;
	left: 8px;
	right: 8px;
	
	height: 1px;
 }
 
 .table__row div::after {
	top: 8px;
	bottom: 8px;
	left: 0;
 
	width: 1px;
 }
 
 .table__row div:first-child::after {
	display: none;
 }
 .table__row:first-child div::before {
	display: none;
 }
 
 .table__price,
 .table__first {
	text-transform: uppercase;
 }
 .table__period,
 .table__desc {
	text-transform: capitalize;
 }

 /* <----PACKAGES---->*/
.packages {
    background: url("../images/packages_section/packages_bg.png")50% 0/ 100% 380px no-repeat;
    width: 100%;
}

.packages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0;
    width: 100%;
    height: 100%;
}
.package {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 3px #ebebeb;
}

.package__link,
.package__price,
.package__header {
    color: black;
    font-weight: bold;
}
.package__param,
.price__span {
    color: #bbbbbb;
}

.price__span {
    font-size: 13px;
}
.package__price {
    font-size: 28px;
}

.package__params__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 20px 28px;
    width: 200px;
    height: 300px;
    padding: 9px 0;
}
.package__params__list::before,
.package__params__list::after  {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: #7f8d8c;
}

.package__params__list::before {
    top: 0;
}
.package__params__list::after {
    bottom: 0;
}

.package__param {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    margin-top: 41px;
    margin-bottom: 20px;
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.icon::after {
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 6px solid;
    transform: rotate(45deg);
    position: absolute;
}

.basic__icon {
    --icon_color: #f9d423;
    --icon: "\f13d";
}

.basic__icon::after {
    border-color: #f9d423 transparent transparent transparent;
}

.normal__icon {
    --icon_color: #7f8d8c;
    --icon: "\f123";
}

.normal__icon::after {
    border-color: #7f8d8c #7f8d8c transparent transparent;
}

.big__icon {
    --icon_color: #f85f40;
    --icon: "\f005";
}

.big__icon::after {
    border-color: #f85f40 #f85f40 #f85f40 transparent;
}

.biggest__icon{
    --icon_color: #1abc9c;
    --icon: "\f219";
}

.biggest__icon::after {
    border-color: #1abc9c;
}

.basic__value {
    color: #f9d423;
}
.normal__value {
    color: #7f8d8c;
}
.big__value {
    color: #f85f40;
}
.biggest__value {
    color: #1abc9c;
}

.icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
.icon i::after {
    content: var(--icon);
    color: var(--icon_color);
}

.price__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 105px;
    height: 66px;
    margin-top: 34px;
    margin-bottom: 35px;
}

.package__price {
    text-align: center;
    width: 100%;
}
.basic {
    border-bottom: 3px solid #f9d423;
}
.normal {
    border-bottom: 3px solid #7f8d8c;
}
.big {
    border-bottom: 3px solid #f85f40;
}
.biggest {
    border-bottom: 3px solid #1abc9c;
}

/* <----ABOUT---->*/
.about {
    width: 100%;
}

.about__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    padding: 100px 0;
    border-top: 3px dashed #bbbbbb;
}
.about__container {
    width: 100%;
    border-right: 2px dashed #bbbbbb;
    padding-right: 100px;
}

.about__header,
.about__span{
    font-size: 35px;
    color: black;
}
.about__span {
    font-weight: 500;
}
.about__header {
    margin-bottom: 36px;
    font-weight: 900;
}

.about__text {
    font-size: 18px;
    color: #bbbbbb;
    width: 100%;
    text-overflow: ellipsis;
}

.worker__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    width: 100%;
}
.worker__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 115px;
}
.name {
    font-size: 17px;
    font-weight: 600;
    color: black;
    margin-top: 16px;
    margin-bottom: 10px;
}
.role {
    font-size: 15px;
    margin-bottom: 13px;
    color: #bbbbbb;
}

.worker__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85px;
}

.link__facebook::before{
    content: "\f09a";
}
.link__twitter::before{
    content: "\f099";
}
.link__linked::before{
    content: "\f0c1";
}

.link__facebook,
.link__twitter,
.link__linked {
    color: #bbbbbb;
}

.link__facebook:hover,
.link__twitter:hover,
.link__linked:hover {
    color: #0faff1;
}

/* <----COMMENTS---->*/
.comments {
    width: 100%;
    background: url('../images/comments_section/comments_bg.png') 0 0/100% 100% no-repeat;
}

.comments__container {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comments__text {
    max-width: 830px;
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.quotes__nav {
    display: flex;
    flex-direction: row;
    width: 157px;
}
.quote__author {
    font-size: 20px;
    font-weight: bold;
    padding-right: 12px;
    border-right: 1px solid #bbbbbb;
}

.quotes__links {
    display: flex;
    width: 48px;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
}
.non__active,
.current__quote {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid white;
}
.current__quote {
    background-color: white;
}

/* <----FUNCTIONS---->*/
.functions {
    width: 100%;
    background-color: #FFFFFF;
}

.functions__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 342px;
}

.function__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 147px;
    margin-top: 99px;
    margin-bottom: 96px;
}

.fast__icon {
    --fun_color: #f1c40f;
    --fun_icon_code: "\f0e7";
}
.cloud__icon {
    --fun_color: #0faff1;
    --fun_icon_code: "\f0c2";
}
.domain__icon {
    --fun_color: #95a5a6;
    --fun_icon_code: "\f047";
}
.live__icon {
    --fun_color: #f1540f;
    --fun_icon_code: "\f086";
}

.func i::before {
    content: var(--fun_icon_code);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 100;
    color: #fff;
    font-size: 31px;
    transform: translate(-50%, -50%);
}

.func {
    position: relative;
    border-radius: 50%;
    background-color: var(--fun_color);
    width: 60px;
    height: 60px;
}
.func:hover {
    transform: scale(1.2, 1.2);
}

.function__header {
    margin-top: 22px;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.function__description {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #bbbbbb;
}

/* <----FOOTER---->*/
 .footer{
	background-color: #2A2A2A;
    height: 294px;
}
.footer__inner{
	display:flex;
	justify-content: space-between;
	border-bottom: 1px solid #4a4a4a;
}
 .footer__desc {
	width: 380px;
	padding-right: 80px;
 }

 .desc__designer span {
	font-weight: bold;
 }

.footer__logo{
	padding: 31px 0;
}
.footer__nav{
	display:flex;
	text-transform: uppercase;
	font-size: 13px;
}
.footer__nav_link{
	margin-left: 50px;
	color: #686868;
	
}
.footer__nav_link:first-child{
	margin-left: 0;
}
.footer__nav_link:hover{
	color: #fff;
}
.footer__nav a {
    padding-top: 40px;
    padding-bottom: 38px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.footer__nav a:hover {
    border-bottom: 1px solid #fff;
}
.footer__block{
	width: 33.33333%;
}
.contact_information{
	  color: #686868;
	  width: 300px;
	  padding-left: 80px;
  }
.footer__second_inner{
	display: flex;
	align-items: center;
	height: 100%;
 
	padding: 10px 0;
 
	color: #4a4a4a;
 }
 .footer_block {
	display: flex;
	justify-content: space-between;
 
	height: 120px;
 }
 
 .footer__desc {
	width: 380px;
	padding-right: 80px;
 }
 .footer__title {
	margin-top: 30px;
	margin-bottom: 24px;
 }
 .footer__subtitle span {
	font-weight: bold;
 }
 .footer__links {
	display: flex;
	justify-content: center;
 
	position: relative;
	width: 496px;
	height: 100%;
	margin-top: 30px;
 }
 
 .footer__links::before,
 .footer__links::after {
	content: "";
	display: block;
 
	position: absolute;
	top: -9px;
	bottom: -9px;
	width: 1px;
	background-color: #4a4a4a;
 }
 .footer__links::before {
	left: 0;
 }
 .footer__links::after {
	right: 0;
 }
 
 .footer__list {   
	font-size: 15px;
	line-height: 2;
 }
 .footer__item {
	width: 135px;
	transition: color 0.3s ease-in-out;
 }
 .footer__item:hover {
	color: #FFFFFF;
 }
 .footer__item::before {
	content: ">";
	margin-right: 7px;
	color: currentColor;
 }
 .footer__item:hover::before {
	margin-right: 17px;
 }
 
 .footer__list + .footer__list {
	margin-left: 65px;
 }
 
 .contact_information {
	width: 300px;	
	padding-left: 80px;
	margin-top: 30px;
	
 }
 
 .fa-phone a,
 .fa-envelope a,
 .fa-phone::before,
 .fa-envelope::before,
 .address {
	margin-bottom: 15px;
	transition: color 0.3s ease-in-out;
	font-family: inherit;
	font-style: inherit;
 }
 
 .fa-phone::before,
 .fa-envelope::before {
	margin-right: 10px;
	
	margin-bottom: 15px;
 }
 
 .fa-phone:hover,
 .fa-envelope:hover,
 .address:hover {
	color: #fff;
 }

.fa-phone{
	margin-bottom: 15px;
}

.fa-envelope{
	margin-bottom: 15px;
}