# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\STUDYING\2_course\4_sem\РПИ\LABS\novy_arkhiv\проект Ghost Host\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
